.grid-container {
	display: grid;
	grid-template-columns: 25% 55%;
	justify-content: center;
}

.grid-column-1 {
	display: grid;
	margin-right: 10%;
}

.grid-column-2 {
	display: grid;
	color: #fbf7f7;
	background-color:#7d6969;
	padding: 30px;
	margin-left: 10%;
}

#me {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	border-radius: 50%;
}

#small-text {
	font-size: 1em;
}
