p {
	width: 75%;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

* {box-sizing: border-box;}

.mySlides {
	display: none;
}

img {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.numbertext {
  color: white;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}